.container {
	display: flex;
	width: 100%;
	justify-content: center;
	border-bottom: 1px solid rgb(238, 238, 238);
	position: sticky;
	top: 0;
	z-index: 1;
	background: white;
}

.header {
	height: 72px;
	max-width: 960px;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.leftHeader {
	height: 100%;
	align-items: center;
	display: flex;
}

.search {
	margin-left: 90px;
}

.logo {
	margin-right: 16px;
}

.categoryContainer {
	display: flex;
	gap: 4px;
	color: rgb(0, 208, 148);
	align-items: center;
	cursor: pointer;
}

.rightHeader {
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: center;
	font-size: 14px;
}

.verticalBar {
	margin: 0 12px 0 8px;
}
