.containerWithMargin {
	margin-top: 56px;
}

.collectionsContainer {
	display: flex;
	gap: 40px;
}

.titleContainer {
	min-width: 200px;
	max-width: 200px;
}

.subtitle {
	margin-top: 8px;
	font-size: 12px;
	font-weight: unset;
	color: #999999;
}

@media (max-width: 960px) {
	.collectionsContainer {
		display: block;
	}

	.titleContainer {
		padding-right: 40px;
		padding-bottom: 20px;
	}

	.titleContainer > h2 {
		font-size: 18px;
	}
}

.mobileContainer {
	margin-top: 48px;
	padding: 0 20px;
}
