.shortcutsContainer {
	margin-top: 40px;
	padding: 16px 0;
	box-sizing: border-box;
}

.singleShortcut {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	font-size: 13px;
}

@media (max-width: 960px) {
	.singleShortcut {
		font-size: 11px;
	}
	.shortcutsContainer {
		display: block;
	}
}

.mobileShortcutsContainer {
	display: flex;
	padding: 16px 20px;
	justify-content: space-between;
}
