.container {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	position: relative;
	overflow: hidden;
}

.scrollContainer {
	display: flex;
	width: fit-content;
	gap: 32px;
}
